<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TravelMate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TravelMateDebug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9032619C1D9E2E2900CE31DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903261B01D9E2E2A00CE31DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903261BB1D9E2E2A00CE31DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903261E81D9F9AB200CE31DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903261F81D9FB83300CE31DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
